body{
	background-color: #007BC3;
}
.bg-blanco, .btn-opaco{
	background-color: rgba(0,0,0,.2);
}
.bg-azul{
	background-color: #007BC3;
}
img{
	opacity: .5;
}
.btn-opaco{
	background-color: rgba(0,0,0,.3);
	color: #FFF;
}
.btn-success{
	display: block;
	margin: 2% 0;
}
h4{
	padding: 2% 0;
	color: #373737;

}
.caja{
	background-color: #E2E4E6;
	width: 20%;
	border-radius: 5px;
	padding: 1%;
	display: inline-block;
	margin: 1%;
}

